<div class="container my-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LavaderoADMIN |</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" routerLink="/finalizados" style="border: 1px solid white; border-radius: 5px; margin: 5px;">Pedidos Finalizados</a>
              <a class="nav-link active" href="/registrar-empleados" style="border: 1px solid white; border-radius: 5px; margin: 5px;">Registrar Empleados</a>
              <a class="nav-link active" routerLink="/listar-empleados" style="border: 1px solid white; border-radius: 5px; margin: 5px;">Empleados</a>
            </div>
          </div>
        </div>
      </nav>
</div>
