<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">CI</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">ACCION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of empleado">
            <td>{{e.id}}</td>
            <td>{{e.ci}}</td>
            <td>{{e.nombre}}</td>
            <td>{{e.apellido}}</td>
            <td><button (click)="mostrarTrabajos(e.id)">Ver Trabajos</button></td>
          </tr>
        </tbody>
      </table>
      <hr style="background: red;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID_Pedido</th>
            <th scope="col">id_usuario</th>
            <th scope="col">monto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of Pedidos">
            <td>{{p.id}}</td>
            <td>{{p.id_usuario}}</td>
            <td>{{p.monto}}</td>
          </tr>
        </tbody>
      </table>
</div>