<div style="margin-bottom: 62px;"> 
<div class="card text-center">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Pedir un Lavado</h5>
      <p class="card-text"> Al pedir un lavado buscamos tu vehiculo en la direccion que nos indiques.</p>
      <a href="/formulario" class="btn btn-primary">Pedir Lavado</a>
    </div>

  </div>
  <div class="card text-center">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Agregar Vehiculos</h5>
      <p class="card-text">Registra tus vehiculos para un lavado</p>
      <a routerLink="/agregar-vehiculo" class="btn btn-primary">Agregar Vehiculos</a>
    </div>

</div>
</div>