<div class="container">
    <h3>Pedidos Finalizados</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID_Pedido</th>
          <th scope="col">id_usuario</th>
          <th scope="col">id_servicio</th>
          <th scope="col">monto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of Pedidos">
          <td>{{pedido.id}}</td>
          <td>{{pedido.id_usuario}}</td>
          <td>{{pedido.id_servicio}}</td>
          <td>{{pedido.monto}}</td>
        </tr>
      </tbody>
    </table>
</div>
