<div class="container">
    <div class="form-group">
      <h5>Registrar un nuevo empleado</h5>
        <label for="nombre">Cédula De Identidad</label>
        <input  [(ngModel)]="empleado.ci" type="text" class="form-control"  placeholder="Ingrese el número de Cédula">
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input  [(ngModel)]="empleado.nombre" type="text" class="form-control"  placeholder="Ingrese el nombre">
      </div>
      <div class="form-group">
        <label for="nombre">Apellido</label>
        <input  [(ngModel)]="empleado.apellido" type="text" class="form-control"  placeholder="Ingrese el apellido">
      </div>
      <button type="button" class="btn btn-primary" (click)="saveEmpleado()">Guardar</button>
</div>
