<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID_Pedido</th>
            <th scope="col">ID_USUARIO</th>
            <th scope="col">ID_EMPLEADO</th>
            <th scope="col">ID_SERVICIO</th>
            <th scope="col">MONTO</th>
            <th scope="col">FECHA</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
